.app{
  background-color: rgb(223 223 223) !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgba(26,26,26,.9);
}

.header{
  background: white;
  padding: 1%;
  margin-top: 2%;
  margin-bottom: 1%;
}

.content{
  background:#0e6efd;
  padding: 2%;
  margin: 0;
  margin-bottom: 4%;
}

.btn-layout-right{
  float: right !important;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  text-align: center !important;
}

.card-title {
  margin-bottom: .5rem !important;
  color: black !important;
}

.card-custom{
  width: 10rem !important;
  height: 11.7rem !important;
  margin: 5px !important;
}

.special-row{
  padding-left: 2%;
  padding-right: 2%;
}

.increment-style{
  font-size: 10px !important;
  margin-top: 0.5rem !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(255 255 255) !important;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.h5, h5 {
  font-size: 1.8rem !important;
  padding: 0 !important;
  font-weight: 200 !important;
}

.total-title{
  text-transform: uppercase;
  font-weight: 200;
  color: black;
}


.dialog-title{
  text-transform: uppercase;
  font-weight: 200;
  color: white;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  font-weight: 300 !important;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  font-weight: 300 !important;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #6c757d!important;
  font-weight: 400 !important;
}


.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #0d6efd !important;
  background-clip: padding-box;
  border: 1px solid rgb(112 112 112) !important;
  border-radius: .3rem;
  outline: 0;
}